body {
	font-family: sans-serif;
	padding-top: 5vw;
	}

div:after {
	content: "";
	display: table;
	clear: both;
	}

.tipAnchor {
	}

.tipAnchor span.tooltip {
	display: none;
	z-index: 100;
	}

a.tipAnchor:hover span.tooltip {
	position: absolute;
	margin-top: 2vh;
	display: inline;
	background-color: white;
	border: 1px solid darkorange;
	padding: 0.5vh;
	max-width: 15vw;
	}

.narrowMargin {
	margin: 2px;
	}

#mainMenuDiv {
	background-color: darkslategray;
	color: white;
	height: 3vw;
	text-align: center;
	padding-top: 1vw;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	}

#titleHead {
	display: inline;
	padding-right: 15vw;
	}

/* 
#gameDiv {
	width: 100vw;
	height: 75vw;
	}
 */

#introDiv {
	width:50vw;
	margin-left: 25vw;
	margin-top: 10vw;
	}

#detailsUnitDiv {
	float: left;
	width: 20vw;
	padding-left: 2vw;
	padding-right: 2vw;
	height: 65vw;
	overflow-y: auto;
	}

.unitPane {
	height: 54vw;
	min-height: 45vw;
	overflow-y: auto;
	}

.unitHeaderDiv {
	height: 18vw;
	overflow-y: auto;
	}

.unitHeaderDiv p.stat {
	margin-left: 2vw;
	margin-bottom: 0;
	float: left;
	}
	
.perDiem {
	clear: both;
	margin-top: 0;
	margin-bottom: 1vh;
	margin-left: 2vw;
	font-size: 0.8em;
	}

.unitCaravanDiv {
	margin-left: 2vw;
	}

.unitCaravanDiv p {
	font-size: 0.8em;
	}

.unitHead {
	margin-bottom: 0;
	margin-top: 2.5vw;
	width: 100%;
	border-bottom: 1px solid slategray;
	}

.unitCargoDiv {
	}
		
.unitActionsDiv {
	margin-top: 2vh;
	text-align: center;
	}
	
.unitActionsDiv button {
	margin: 0.5vh;
	}

.buildBtn {
	margin-left: 1vw;
	}

.unitBuildPreviewDiv {
	margin-left: 1vh;
	font-size: 1.4vh;
	}

.unitPassengersDiv {
	}
	
.unitPassengersDiv button {
	margin-left: 2vw;
	}

#unitTabsDiv {
	margin-top: 1vh;
	height: 9vh;
	}

.unitTab {
	float: left;
	font-size: 0.5em;
	background-color: lightgrey;
	padding: 0.5vw;
	margin: 0.25vw;
	border: 0.5px solid darkgrey;
	}
	
#centerColumn {
	width: 50vw;
	float: left;
	}
	
#mapDiv {
	width: 50vw;
	}

#clockDiv {
	text-align: right;
	height: 2.5vw;
	}

#clockSpan {
	margin-right: 2vw;
	margin-left: 2vw;
	width: 20vw;
	}

.progressDiv {
	float: left;
	width: 48%;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	margin-left: 1%;
	}

.progressLabel {
	float: left;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 1vw;
	}

.progressBar {
	background-color: slategray;
	}

.bigProgressBar {
	margin-left: 8vw;
	width: 16vw;
	}

.progressBarDone {
	background-color: darkorange;
	white-space: nowrap;
	}

#detailsSiteDiv {
	width: 20vw;
	float: left;
	padding-left: 2vw;
	height: 65vw;
	}

#siteCharacterDiv {
	height: 18vw;
	overflow-y: auto;
	}

.siteHead {
	margin-bottom: 0;
	margin-top: 2.5vw;
	width: 100%;
	border-bottom: 1px solid slategray;
	}

#siteCommoditiesDiv {
	height: 22vw;
	overflow-y: auto;
	}

#siteInfrastructureDiv {
	height: 14vw;
	overflow-y: auto;
	}

#siteNeedsDiv {
	}

.siteNeedDiv {
	font-size: 0.7em;
	}

#siteFeatureList {
	clear: right;
	clear: left;
	font-size: 0.8em;
	list-style: none;
	padding-left: 1vh;
	}
	
.siteFeatureItem {
	float: left;
	width: 50%;
	}

#siteReputationP {
	margin: 0;
	}

.commoditiesTable {
	clear: both;
	width: 100%;
	}

.commoditiesTable tr {
	}

.commoditiesTable td {
	white-space: nowrap;
	}
	
.commoditiesTable caption {
	font-size: 1.2em;
	font-weight: bold;
	text-align: left;
	}

.commoditiesTable td {
	width: 15%;
	}

.unitCommoditiesNameCell {
	width: 40%;
	}

.addBtn {
	}

.subBtn {
	}

.infrastructureDiv {
	width: 20vw;
	clear: both;
	}

.infrastructureHead {
	margin-bottom:0;
	}

.buildSelect {
	width: 12vw;
	}

.buildInfoDiv li {
	float: left;
	list-style: none;
	margin: 0.5vh;
	font-size: 1.4vh;
	}

.narrowBuildInfoItem {
	width: 40%;
	}

#tradeDiv {
	margin-top: 2vh;
	display: none;
	width: 50vw;
	}

.tradeDiv {
	margin: 1vw;
	}

.tradeDiv ul {
	list-style: square inside;
	padding-left: 1vw;
	}

.tradeDiv li {
	}

#unitStuffDiv {
	float: left;
	width: 17vw;
	}

#tradeControlsDiv {
	float: left;
	width: 9vw;
	text-align: center;
	background-color: darkorange;
	}

#siteStuffDiv {
	float: left;
	width: 17vw;
	}

#balanceDiv {
	font-size: 2em;
	text-align: center;
	font-weight: bolder;
	}

.positive {
	color: green;
	}

.negative {
	color: red;
	}
	
.modalBox {
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: 'darkslategray';
	}